/* CSS Reset */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background-color: #041c05;
  color: #fff;
}

.header {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  border-bottom: 1px solid #dfa9ff;
}

.main-container {
  font-family: sans-serif;
  height: 90%;
  width: 60%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

.hero-container {
  padding: 2rem;
  border: 2px solid #dfa9ff;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.text-container {
  line-height: 2rem;
}
.visual-container {
  padding: 0.5rem;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b029ff;
  border: 3px solid #dfa9ff;
  border-radius: 50%;
}

.large-text {
  font-weight: 700;
  font-size: 2rem;
}

.extra-large-text {
  font-weight: 700;
  font-size: 3rem;
}

.form {
  width: 60%;
  align-self: center;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
}

.form label {
  width: 90%;
}

.form input {
  width: 100%;
  background: #473573;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  height: 2.5rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
}

input::placeholder {
  font-size: 1.25rem;
}

.btn-default {
  background: transparent;
  border: none;
}

.task-container {
  width: 60%;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-list-container p {
  align-self: center;
  font-size: 1rem;
}

.todo-item {
  border: 3px solid #dfa9ff;
  background: none;
  padding-left: 0.5rem;
  display: flex;
  color: white;
  /* align-items: center; */
  gap: 0.5rem;
}

.edit-form {
  display: flex;
  gap: 1rem;
}

.edit-form input {
  width: 100%;
  background: #473573;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  height: 2.5rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
}

.todo-left-side {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.todo-right-side {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.clear {
  background: #473573;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
  width: 10%;
  font-weight: bold;
}
